.globalWrapper {
  margin: 1rem 3rem;
}

.moreButton {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  border: none;
  background-color: #84c96b;
}
