.header {
  font-size: 2rem;
  font-weight: 900;
  background-color: #c96f37;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 1rem;
  height: 3rem;
}

.refreshButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.rotating {
  animation: spin 1s linear infinite;
}

.notAllowed {
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
